.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(3,37,65, 1);
    min-height: 104px;
    width: 100%;
    transition: top 0.2s linear;
}

.header__logo {
    position: absolute;
    left: 30px;
    .logo {
        display: flex;
        width: 140px;
        text-decoration: none;
        &--text{
            text-decoration: none;
            color: white;
            margin: auto;
            font-weight: 700;
            text-transform: uppercase;
            margin-left: 10px;
        }
    }
    
}

.header__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0px;
   
        .icon-favorite {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            margin-left: 8px;

            svg {
                width: 100%;
                fill: currentColor;
            }

            
            
        
        }
    }
.header__favorites-list {
        padding: 15px;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 16px;
        padding-right: 30px;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-link{
text-decoration: none;
color: #fff;
font-size: 22px;
&.active,
&:hover {
				background-color: rgba(#2e58bc, 0.6);
				/* border-bottom-color: rgba(#2e58bc, 0.6); */
                border-radius: 4px;
			}
        }
.nav{
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.count {
    position: relative;
    left: 80px;
    bottom: 20px;
}
.countFav{
    position: relative;
    left: 130px;
    bottom: 20px;
}